<a href="https://colab.research.google.com/github/jinju-yang/Shinhan-Bigdata-Hackerthon/blob/main/2_1_%EC%A4%91%EC%9C%84%EC%B8%B5_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install koreanize_matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
%config InlineBackend.figure_format = 'retina'
from matplotlib import rcParams
from pandas.api.types import CategoricalDtype

In [ ]:
df = pd.read_csv('asset_midd.csv')
df

In [ ]:
columns_to_sum = ['ba01m', 'ba02m', 'ba04m', 'ba06m', 'ba08m', 'ba10m', 'ba12m',
                  'ba14m', 'ba16m', 'ba18m', 'bb02m', 'bb04m', 'bb06m', 'bb08m']
columns_to_sum2 = ['cb01m', '이용금액_마트', 'cb03m', 'cb04m', 'cb05m', 'cb06m', 'cb07m', 'cb08m', 'cb09m',
                   '이용금액_식당', 'cc02m', 'cc03m', 'cc04m', 'cd01m', 'cd02m', 'cd03m', 'cd04m', 'cd05m',
                  'cd06m', '이용금액_서점', 'cd08m', 'cd09m', 'cd10m', 'cd11m', 'cd12m', 'cd13m', 'cd14m',
                  '이용금액_학원학습지', 'ce02m', 'ce03m', 'ce04m', 'ce05m', 'ce06m', 'ce07m', 'ce08m', 'cf01m',
                   'cf02m', 'cf03m', 'cf04m', 'cf05m', 'cf06m', 'cf07m', 'cf08m', 'cf09m', 'cf10m',
                   '이용금액_놀이동산', 'cf12m', 'cf13m', 'cf14m', 'cf15m', '이용금액_전시/관람/체험', '이용금액_오락실/PC방', 'cf18m', 'cf19m']
columns_to_sum3 = ['sb04m', 'sb05m', 'sb06m', 'sb07m', 'sb08m', 'sb09m']
columns_to_sum4 = ['cg04r', 'cg05r', 'cg06r', 'cg07r']

In [ ]:
df['bank'] = df[columns_to_sum].sum(axis=1)
df['card'] = df[columns_to_sum2].sum(axis=1)
df['certificate'] = df[columns_to_sum3].sum(axis=1)
df['cross'] = df[columns_to_sum4].sum(axis=1)

In [ ]:
baby_df = df[df['child_cluster'] == 0]
student_df = df[df['child_cluster'] == 1]

In [ ]:
values = [baby_df['bank'].mean(), baby_df['card'].mean(),
          baby_df['certificate'].mean(), baby_df['cross'].mean()]
labels = ['bank', 'card', 'certificate', 'cross']

In [ ]:
plt.figure(figsize=(10, 6))
plt.barh(labels, values, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow'], edgecolor='black')

# 그래프 타이틀 및 레이블 설정
plt.title('means')
plt.xlabel('count')
plt.ylabel('category')

plt.show()

In [ ]:
values = [student_df['bank'].mean(), student_df['card'].mean(),
          student_df['certificate'].mean(), student_df['cross'].mean()]
labels = ['bank', 'card', 'certificate', 'cross']

In [ ]:
plt.figure(figsize=(10, 6))
plt.barh(labels, values, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow'], edgecolor='black')

# 그래프 타이틀 및 레이블 설정
plt.title('means')
plt.xlabel('count')
plt.ylabel('category')

plt.show()

In [ ]:
cluster_baby_means = df_cluster_baby[['bank', 'card', 'certificate', 'cross']].mean().values
cluster_student_means = df_cluster_student[['bank', 'card', 'certificate', 'cross']].mean().values

In [ ]:
categories = ['bank', 'card', 'certificate', 'cross']

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(categories, cluster_baby_means, label='baby (Cluster 0)', color='blue', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(categories, cluster_student_means, label='Student (Cluster 1)', color='red', marker='o')

# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
columns_to_plot = ['ba01m', 'ba02m', 'ba04m', 'ba06m', 'ba08m', 'ba10m', 'ba12m', 'ba14m', 'ba16m', 'ba18m', 'bb02m', 'bb04m', 'bb06m', 'bb08m']
mean_values_baby = [df_cluster_baby[col].mean() for col in columns_to_plot]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(columns_to_plot, mean_values_baby, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow', 'orange', 'purple'], edgecolor='black')

# 그래프 타이틀과 레이블 설정
plt.title('Mean Values of Bank')
plt.xlabel('Columns')
plt.ylabel('Mean Value')

# 그래프 출력
plt.show()

In [ ]:
mean_values_student = [df_cluster_student[col].mean() for col in columns_to_plot]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(columns_to_plot, mean_values_student, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow', 'orange', 'purple'], edgecolor='black')

# 그래프 타이틀과 레이블 설정
plt.title('Mean Values of Bank')
plt.xlabel('Columns')
plt.ylabel('Mean Value')

# 그래프 출력
plt.show()

In [ ]:
mean_values_baby_compare = [df_compare_cluster_baby[col].mean() for col in columns_to_plot]
mean_values_student_compare = [df_compare_cluster_student[col].mean() for col in columns_to_plot]

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_plot, mean_values_student, label='midd_student', color='black', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_plot, mean_values_baby, label='midd_baby', color='pink', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_plot, mean_values_student_compare, label='low_student', color='blue', marker='o')

# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_plot, mean_values_student, label='midd_student', color='pink', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_plot, mean_values_baby, label='midd_baby', color='black', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_plot, mean_values_baby_compare, label='low_baby', color='blue', marker='o')

# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
columns_to_sum_card_mart = ['cb01m', '이용금액_마트', 'cb03m', 'cb04m', 'cb05m', 'cb06m', 'cb07m', 'cb08m', 'cb09m']
df['card_mart'] = df[columns_to_sum_card_mart].sum(axis=1)
columns_to_sum_card_food = ['이용금액_식당', 'cc02m', 'cc03m', 'cc04m']
df['card_food'] = df[columns_to_sum_card_food].sum(axis=1)
columns_to_sum_card_lifeSerivce = ['cd01m', 'cd02m', 'cd03m', 'cd04m', 'cd05m', 'cd06m', '이용금액_서점', 'cd08m', 'cd09m', 'cd10m', 'cd11m', 'cd12m', 'cd13m', 'cd14m']
df['card_lifeService'] = df[columns_to_sum_card_lifeSerivce].sum(axis=1)
columns_to_sum_card_expertService = ['이용금액_학원학습지', 'ce02m', 'ce03m', 'ce04m', 'ce05m', 'ce06m', 'ce07m', 'ce08m']
df['card_expertService'] = df[columns_to_sum_card_expertService].sum(axis=1)
columns_to_sum_card_leisure = ['cf01m', 'cf02m', 'cf03m', 'cf04m', 'cf05m', 'cf06m', 'cf07m', 'cf08m', 'cf09m', 'cf10m', '이용금액_놀이동산', 'cf12m', 'cf13m', 'cf14m', 'cf15m', '이용금액_전시/관람/체험', '이용금액_오락실/PC방', 'cf18m', 'cf19m']
df['card_leisure'] = df[columns_to_sum_card_leisure].sum(axis=1)
columns_to_plot_card_category = ['card_mart', 'card_food', 'card_lifeService', 'card_expertService', 'card_leisure']
df_cluster_baby = df[df['child_cluster'] == 0]
mean_values_baby_card_category = [df_cluster_baby[col].mean() for col in columns_to_plot_card_category]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(columns_to_plot_card_category, mean_values_baby_card_category, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow', 'orange', 'purple'], edgecolor='black')

# 그래프 타이틀과 레이블 설정
plt.title('Mean Values of Bank')
plt.xlabel('Columns')
plt.ylabel('Mean Value')

# 그래프 출력
plt.show()

In [ ]:
mean_values_student_card_category = [df_cluster_student[col].mean() for col in columns_to_plot_card_category]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(columns_to_plot_card_category, mean_values_student_card_category, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow', 'orange', 'purple'], edgecolor='black')

# 그래프 타이틀과 레이블 설정
plt.title('Mean Values of Bank')
plt.xlabel('Columns')
plt.ylabel('Mean Value')

# 그래프 출력
plt.show()

In [ ]:
columns_to_plot_certificate = ['sb04m', 'sb05m', 'sb06m', 'sb07m', 'sb08m', 'sb09m']
mean_values_baby_certificate = [df_cluster_baby[col].mean() for col in columns_to_plot_certificate]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(columns_to_plot_certificate, mean_values_baby_certificate, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow', 'orange', 'purple'], edgecolor='black')

# 그래프 타이틀과 레이블 설정
plt.title('Mean Values of Bank')
plt.xlabel('Columns')
plt.ylabel('Mean Value')

# 그래프 출력
plt.show()

In [ ]:
mean_values_student_certificate = [df_cluster_student[col].mean() for col in columns_to_plot_certificate]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(columns_to_plot_certificate, mean_values_student_certificate, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow', 'orange', 'purple'], edgecolor='black')

# 그래프 타이틀과 레이블 설정
plt.title('Mean Values of Bank')
plt.xlabel('Columns')
plt.ylabel('Mean Value')

# 그래프 출력
plt.show()

In [ ]:
columns_to_plot_cross = ['cg04r', 'cg05r', 'cg06r', 'cg07r']
mean_values_baby_cross = [df_cluster_baby[col].mean() for col in columns_to_plot_cross]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(columns_to_plot_cross, mean_values_baby_cross, color=['skyblue', 'lightgreen', 'lightcoral', 'lightgoldenrodyellow', 'orange', 'purple'], edgecolor='black')

# 그래프 타이틀과 레이블 설정
plt.title('Mean Values of Bank')
plt.xlabel('Columns')
plt.ylabel('Mean Value')

# 그래프 출력
plt.show()

In [ ]:
df_compare=pd.read_csv('asset_low.csv')

In [ ]:
df_compare['bank'] = df_compare[columns_to_sum].sum(axis=1)
df_compare['card'] = df_compare[columns_to_sum2].sum(axis=1)
df_compare['certificate'] = df_compare[columns_to_sum3].sum(axis=1)
df_compare['cross'] = df_compare[columns_to_sum4].sum(axis=1)

In [ ]:
df_compare_cluster_student = df_compare[df_compare['child_cluster'] == 0]
df_compare_cluster_baby = df_compare[df_compare['child_cluster'] == 1]

In [ ]:
compare_cluster_baby_means = df_compare_cluster_baby[['bank', 'card', 'certificate', 'cross']].mean().values
compare_cluster_student_means = df_compare_cluster_student[['bank', 'card', 'certificate', 'cross']].mean().values

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(categories, cluster_baby_means, label='midd_baby', color='black', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(categories, cluster_student_means, label='midd_student', color='pink', marker='o')

# gk위층 'baby' 클러스터
plt.plot(categories, compare_cluster_baby_means, label='low_baby', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(categories, cluster_baby_means, label='midd_baby', color='pink', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(categories, cluster_student_means, label='midd_student', color='black', marker='o')

# gk위층 'baby' 클러스터
plt.plot(categories, compare_cluster_student_means, label='low_student', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
df_compare['card_mart'] = df_compare[columns_to_sum_card_mart].sum(axis=1)
df_compare['card_food'] = df_compare[columns_to_sum_card_food].sum(axis=1)
df_compare['card_lifeService'] = df_compare[columns_to_sum_card_lifeSerivce].sum(axis=1)
df_compare['card_expertService'] = df_compare[columns_to_sum_card_expertService].sum(axis=1)
df_compare['card_leisure'] = df_compare[columns_to_sum_card_leisure].sum(axis=1)

In [ ]:
df_compare_cluster_student = df_compare[df_compare['child_cluster'] == 0]
df_compare_cluster_baby = df_compare[df_compare['child_cluster'] == 1]

In [ ]:
compare_cluster_baby_means_card = df_compare_cluster_baby[['card_mart', 'card_food', 'card_lifeService', 'card_expertService', 'card_leisure']].mean().values
compare_cluster_student_means_card = df_compare_cluster_student[['card_mart', 'card_food', 'card_lifeService', 'card_expertService', 'card_leisure']].mean().values

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_plot_card_category, mean_values_baby_card_category, label='midd_baby', color='black', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_plot_card_category, mean_values_student_card_category, label='midd_student', color='pink', marker='o')

# gk위층 'baby' 클러스터
plt.plot(columns_to_plot_card_category, compare_cluster_baby_means_card, label='low_baby', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_plot_card_category, mean_values_baby_card_category, label='midd_baby', color='pink', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_plot_card_category, mean_values_student_card_category, label='midd_student', color='black', marker='o')

# gk위층 'baby' 클러스터
plt.plot(columns_to_plot_card_category, compare_cluster_student_means_card, label='low_student', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
compare_cluster_baby_means_certificate = df_compare_cluster_baby[['sb04m', 'sb05m', 'sb06m', 'sb07m', 'sb08m', 'sb09m']].mean().values
compare_cluster_student_means_certificate = df_compare_cluster_student[['sb04m', 'sb05m', 'sb06m', 'sb07m', 'sb08m', 'sb09m']].mean().values

In [ ]:
cluster_baby_means_certificate = df_cluster_baby[['sb04m', 'sb05m', 'sb06m', 'sb07m', 'sb08m', 'sb09m']].mean().values
cluster_student_means_certificate = df_cluster_student[['sb04m', 'sb05m', 'sb06m', 'sb07m', 'sb08m', 'sb09m']].mean().values

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_sum3, cluster_baby_means_certificate, label='midd_baby', color='black', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_sum3, cluster_student_means_certificate, label='midd_student', color='pink', marker='o')

# gk위층 'baby' 클러스터
plt.plot(columns_to_sum3, compare_cluster_baby_means_certificate, label='low_baby', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_sum3, cluster_baby_means_certificate, label='midd_baby', color='pink', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_sum3, cluster_student_means_certificate, label='midd_student', color='black', marker='o')

# gk위층 'baby' 클러스터
plt.plot(columns_to_sum3, compare_cluster_student_means_certificate, label='low_student', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
compare_cluster_baby_means_cross = df_compare_cluster_baby[['cg04r', 'cg05r', 'cg06r', 'cg07r']].mean().values
compare_cluster_student_means_cross = df_compare_cluster_student[['cg04r', 'cg05r', 'cg06r', 'cg07r']].mean().values
cluster_baby_means_cross = df_cluster_baby[['cg04r', 'cg05r', 'cg06r', 'cg07r']].mean().values
cluster_student_means_cross = df_cluster_student[['cg04r', 'cg05r', 'cg06r', 'cg07r']].mean().values

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_sum4, cluster_baby_means_cross, label='midd_baby', color='black', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_sum4, cluster_student_means_cross, label='midd_student', color='pink', marker='o')

# gk위층 'baby' 클러스터
plt.plot(columns_to_sum4, compare_cluster_baby_means_cross, label='low_baby', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()

In [ ]:
# 꺾은선 그래프 그리기
plt.figure(figsize=(10, 6))

# 'baby' 클러스터 (child_cluster == 0)
plt.plot(columns_to_sum4, cluster_baby_means_cross, label='midd_baby', color='pink', marker='o')

# 'student' 클러스터 (child_cluster == 1)
plt.plot(columns_to_sum4, cluster_student_means_cross, label='midd_student', color='black', marker='o')

# gk위층 'baby' 클러스터
plt.plot(columns_to_sum4, compare_cluster_student_means_cross, label='low_student', color='blue', marker='o')


# 그래프 설정
plt.title('Comparison of Cluster 0 and Cluster 1 across 4 Categories')
plt.xlabel('Category')
plt.ylabel('Mean Value')
plt.legend()

# 그래프 출력
plt.show()